* {
  background-color: black;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

.title {
  padding: 50px;
  color: white;
  font-size: 2rem;
}

.red-title {
  font-size: 3.3rem;
  color: red;
}
