* {
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

.title {
  padding: 50px;
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
}

.red-title {
  font-size: 3.3rem;
  color: red;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

button.btn {
  width: 200px;
  height: 50px;
  background: black;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.btn:hover {
  background: white;
  color: black;
}

.board {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: 300px;
  height: 300px;
  background: white;
  gap: 1px;
}
.block {
  background: white;
  border: 1px solid black;
  grid-column: span 2;
  grid-row: span 2;
}
