* {
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  padding: 30px;
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.red-title {
  font-size: 3.3rem;
  color: red;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 60px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

button.btn {
  width: 200px;
  height: 50px;
  background: black;
  color: white;
  border: 2px solid white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.btn:hover {
  background: white;
  color: black;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 1px;
  background: black;
}
.cell {
  background: #fff;
  border: 1px solid #ccc;
}

.sizeValue {
  color: #ccc;
  align-items: center;
  display: flex;
  justify-self: center;
}
